html {
  background: url(../img/self.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0px;
}

.centered {
  text-align: center;
}

.image {
  border-radius: 50%;
  height: 20em;
  border: 1.75em solid #CFCFCF; /* Light grey */
}

.heading {
  font-family: Helvetica;
}

.links ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
}

.links li {
  display: inline;
  padding: 1em;
}

.links li a {
  text-decoration: none;
  color: #B38B6D; /* Light taupe */
}

.links li a:hover {
  text-decoration: none;
  color: #6D95B3; /* Blue grey */
}

#project {
  display: none;
  /* visibility: hidden; */
}

.project_links {
  list-style-type: none;
}

.btn-primary { /* Roll button */
  background-color: #B38B6D !important; /*Override Bootstrap button color with light taupe */
  border-color: #000000 !important; /*Override Bootstrap button border color with black */
}

.badge { /*Copyright and name */
  position: absolute;
  bottom: .5em;
  right: 1em;
}

.name-bar {
  margin-left: 5em;
}

.projects-bar {
  margin-right: 5em;
}